<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ str }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
    <script src="{{url_for('static', filename='app.js')}}"></script>
</head>
<body>
  <h1>Hello</h1>
  <h2>Hello</h2>
  <p>{{ str }}</p>
  <hr />
  <ul>
    {% for x in lis %}
    <li>{{ x }}</li>
    {% endfor %}
  </ul>
  <hr />

  <p>{{ "name: %s age: %s" % (dic["name"], dic["age"]) }}</p>
  <hr />

  {% if bl %}
    <p>True</p>
  {% else %}
    <p>False</p>
  {% endif %}
</body>
</html>
